<div class="background">
<nav>
  <a id="signup" routerLink="/signup">Sign Up</a>
</nav>


<div class="loginForm">
    <app-alert></app-alert>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" formControlName="username" type="username" class="form-control" id="username"
             aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" formControlName="password" type="password" class="form-control" id="password"
             placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <!-- <div *ngIf="!loginForm.controls.username?.valid && (loginForm.controls.username?.dirty || loginForm.controls.username?.touched)">
      <div [hidden]="!loginForm.controls.username.errors.required" class="alert alert-danger">
        Please enter valid username and password!
      </div>
    </div> -->
  </form>
</div>
</div>
