<p>
  product-detail works!
</p>

<div>

  <table col="500">
    <tr>
      <td width="200px">Product Summary</td>
      <td width="200px">Product Details</td>
      <td width="200px">Product Documentation</td>
      <td>Contact</td>
    </tr>
  </table>

  <div>
    <h2>Product Summary</h2>
    <div>...</div>
  </div>


  <div>
    <h2>Product Details</h2>
    <table>
      <thead>
      <tr>
        <td> ProductID</td>
        <td> ProductName</td>
        <td> ProductDescription</td>
        <td> ProductPrice</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.ProductID}}</td>
        <td>{{item.ProductName}}</td>
        <td>{{item.ProductDescription}}</td>
        <td>{{item.ProductPrice}}</td>
      </tr>
      </tbody>
    </table>


  </div>
  <div>
    <h2>Product Documentation</h2>
    <div></div>
  </div>
  <div>
    <h2>Contact</h2>
    <div></div>
  </div>


</div>
