
  <button type="submit" class="btn btn-primary" (click)="onFilterSubmit($event)">Save</button>
  <button type="submit" class="btn btn-primary" (click)="onFilterClear()">Clear</button>

    <!-- <input id='left' type="number" [(ngModel)]="test.minValue">
    <input id ='right' type="number" [(ngModel)]="test.maxValue">
    <ng5-slider [(value)]="test.minValue" [(highValue)]="test.maxValue" [options]="test.options"></ng5-slider> -->

  <div id="accordion">
    <div *ngFor="let attrType of attributes; let index=index">
      <div class="card">
        <h5 class="mb-0">
          <label class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div *ngIf="attributes">
              {{attrType.attributeTypeName}}
            </div>
          </label>
        </h5>
        <div *ngIf="filter && attributes">
          <div *ngFor="let attr of filter[attrType.attributeTypeName]; let i = index">
            <div class="form-inline" *ngIf="attr && attr.isRange === 1">
              <label class="form-group">{{attr.attributeName}}</label><br>
              <input id='{{"left-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.minValue">
              <div class="custom-slider">
              <ng5-slider [(value)]="attr.rangeSlider.minValue" [(highValue)]="attr.rangeSlider.maxValue" [options]="attr.rangeSlider.options"></ng5-slider>
            </div>
              <input id='{{"right-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.maxValue">
            </div>
          </div>
        </div>
    </div>
  </div>
<!--

    <div class="card">
      <h5 class="mb-0">
        <label class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div *ngIf="attributes">
            {{attributes[1].attributeTypeName}}
          </div>
        </label>
      </h5>
      <div *ngIf="filter && attributes">
        <div *ngFor="let attr of filter[attributes[1].attributeTypeName]; let i = index">
          <div class="form-inline" *ngIf="attr && attr.isRange === 1">
            <label class="form-group">{{attr.attributeName}}</label><br>
            <input id='{{"left-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.minValue">
            <ng5-slider [(value)]="attr.rangeSlider.minValue" [(highValue)]="attr.rangeSlider.maxValue" [options]="attr.rangeSlider.options"></ng5-slider>
            <input id='{{"right-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.maxValue">
          </div>
        </div>
      </div>
  </div>

  <div class="card">
      <h5 class="mb-0">
        <label class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div *ngIf="attributes">
            {{attributes[2].attributeTypeName}}
          </div>
        </label>
      </h5>
      <div *ngIf="filter && attributes">
        <div *ngFor="let attr of filter[attributes[2].attributeTypeName]; let i = index">
          <div class="form-inline" *ngIf="attr && attr.isRange === 1">
            <label class="form-group">{{attr.attributeName}}</label><br>
            <input id='{{"left-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.minValue">
            <ng5-slider [(value)]="attr.rangeSlider.minValue" [(highValue)]="attr.rangeSlider.maxValue" [options]="attr.rangeSlider.options"></ng5-slider>
            <input id='{{"right-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.maxValue">
          </div>
        </div>
      </div>
  </div>

  <div class="card">
      <h5 class="mb-0">
        <label class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div *ngIf="attributes">
            {{attributes[3].attributeTypeName}}
          </div>
        </label>
      </h5>
      <div *ngIf="filter && attributes">
        <div *ngFor="let attr of filter[attributes[3].attributeTypeName]; let i = index">
          <div class="form-inline" *ngIf="attr && attr.isRange === 1">
            <label class="form-group">{{attr.attributeName}}</label><br>
            <input id='{{"left-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.minValue">
            <ng5-slider [(value)]="attr.rangeSlider.minValue" [(highValue)]="attr.rangeSlider.maxValue" [options]="attr.rangeSlider.options"></ng5-slider>
            <input id='{{"right-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.maxValue">
          </div>
        </div>
      </div>
  </div>

  <div class="card">
      <h5 class="mb-0">
        <label class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div *ngIf="attributes">
            {{attributes[4].attributeTypeName}}
          </div>
        </label>
      </h5>
      <div *ngIf="filter && attributes">
        <div *ngFor="let attr of filter[attributes[4].attributeTypeName]; let i = index">
          <div class="form-inline" *ngIf="attr && attr.isRange === 1">
            <label class="form-group">{{attr.attributeName}}</label><br>
            <input id='{{"left-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.minValue">
            <ng5-slider [(value)]="attr.rangeSlider.minValue" [(highValue)]="attr.rangeSlider.maxValue" [options]="attr.rangeSlider.options"></ng5-slider>
            <input id='{{"right-" + attr.attributeName}}' type="number" [(ngModel)]="attr.rangeSlider.maxValue">
          </div>
        </div>
      </div>
  </div> -->

  </div>
