/* #accordion {
  width: 350px;
  margin-left: 50px;
} */

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ng5-slider {
  width: 60%;
  margin-left: 1%;
  margin-right: 1%;
}

.card {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 2px;
  padding-left: 10px;
}

.form-group {
  margin-left: 5px;
  margin-right: 5px;
}

input[type=number] {
  width: 50px;
}

.custom-slider .ng5-slider .ng5-slider-selection {
  background: rgb(255, 255, 0) !important;
}
