<p>
  home works!
</p>
<div id="container">
  <div class="form-group">
      <select (change)='showSubCate($event.target.value)' name="cate" class="input">
          <option value='All'>--All--</option>
          <option *ngFor="let cate of cates" [value]="cate">{{cate}}</option>
        </select>
        
        <form [formGroup]="subCatesForm" (submit)="onSubmit()" id="form">
          <input list="SubCates" name="subCate" formControlName="subCate" class="input"/> 
          <datalist id="SubCates"  name="subCateList" >
            <option *ngFor="let subcate of subCates" [ngValue]="subcate">{{subcate.name}}</option>
          </datalist>
          <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
        </form>
  </div>

</div>

  <!-- <button (click)="testClick($event)">Test</button> -->

